body {
  background-color: lightgrey;
}

div {
  width: 95px;
  height: 95px;
  margin: 30px 20px;
  float: left;
  box-shadow: 2px 2px 3px;
  border-radius: 50px;
}

/*div:nth-child(1n) { background: #685C90; }
div:nth-child(2n) { background: #FFA48B; }
div:nth-child(3n) { background: #BB9C8E; }
div:nth-child(4n) { background: #E7D5D5; }*/
