body {
  background-color: lightgrey;
}

div {
  width: 50px;
  height: 50px;
}

div:nth-child(1n) { background: #685C90; }
div:nth-child(2n) { background: #FFA48B; }
div:nth-child(3n) { background: #BB9C8E; }
